# .ebextensions/01_custom_npm_install.config
commands: 
  01_change_directory:
    command: "cd /var/app/current/server/dist"
  02_install_dependencies:
    command: "npm install"
    cwd: "/var/app/current/server/dist"
  03_copy_env:
    command: "cp /var/app/current/server/.env /var/app/current/server/dist"
    cwd: "/var/app/current/server"
  04_run_application:
    command: "node index.js"
    cwd: "/var/app/current/server/dist"
