body {
    font-family: Arial, sans-serif;
    background-color: #e6f7ff;  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
    margin: 0;
}

.login-container {
    width: 300px;  
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
button {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.register-button {
    margin-top: 10px;
    background-color: #4CAF50; 
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
}

.register-button:hover {
    background-color: #45a049;
}
